	<div class="post">

{{ $isRSS := eq (.Scratch.Get "kScopeRSS") "true" }}
{{ $isList := eq (.Scratch.Get "kScope") "kScopeList" }}

{{ with .Params.link }}
<div class="embed" data-link="{{ . }}"></div>
{{ end }}

{{ with .Params.youtube }}
<div class="embed" data-link="https://youtu.be/{{ . }}"></div>
{{ end }}

{{ if $isList -}}<div>{{- else -}}<article>{{- end }}
{{ .Content }}
{{ if $isList -}}</div>{{- else -}}</article>{{- end }}

{{- range (.GetTerms "series") -}}<small>Part of <a href="{{ .Permalink }}">{{ .Title }}</a>.</small>{{- end -}}

<span class="metadata">
	<small>
		{{ $t := time.AsTime .Date }}
		<a aria-label="Permalink for {{ $t | time.Format ":time_short" }}, {{ $t | time.Format ":date_long" }}" href="{{ .Permalink }}"><time datetime="{{ $t.Format "2006-01-02T15:04:05Z07:00" }}">{{ if $isList -}}
			{{- $t.Format "15h04" -}}
		{{- else -}}
			{{- $t.Format "Jan 02 2006, 15h04" -}}
		{{- end }}</time></a>

		{{ with .GetTerms "guests" -}}
		<span>with: </span> 
		<span>
			{{- range $index, $element := . -}}
				{{- if $index }} / {{ end }}<a href="{{ .Permalink }}">{{ .Title }}</a>
			{{- end -}}
		</span>
		{{ end }}

		{{ with .GetTerms "place" }}
		<span>in {{ range . -}}
			<a href="{{ .Permalink }}">{{ .Title }}</a> / 
		{{- end -}}</span>
		{{ end }}

		{{ with .GetTerms "country" }}
		<span>{{- range . -}}
				<a href="{{ .Permalink }}">{{ .Title }}</a>
			{{- end -}}</span>
		{{- end -}}

		{{- with .GetTerms "tags" -}}
		<span>, tags: </span> 
		<span>
			{{- range $index, $element := . -}}
				{{- if $index }} / {{ end }}<a href="{{ .Permalink }}">{{ .Title }}</a>
			{{- end -}}
		</span>
		{{ end }}

		{{- with .Param "via" -}}
		<span>, via: </span> 
		<span>{{- if strings.Contains . "http" }}<a href="{{ . }}">{{ replace (urls.Parse .).Hostname "www." "" }}</a>{{ else }}{{ . }}{{ end }}</span>
		{{ end }}
	</small>

{{ with .GetTerms "categories" }}
	{{ if $isRSS }}<small>, type: {{ end -}}
	<span class="types">
		{{- range . -}}<a href="{{ .Permalink }}">{{ .Title }}</a> {{ end -}}
	</span>
	{{- if $isRSS }}</small>{{end}}
{{ end }}
</span>

{{ if (and (not $isList) (not $isRSS)) -}}
<hr>

<small class="metadata">
	<span>
		<a href="https://github.com/rosano/vlog/edit/master/content/{{ .Page.File.Path }}">Improve</a>.
	</span>
</small>
{{- end }}

</div>
